<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         id="serviceExtensions"
         name="JXTA Spool"
         point="net.sf.jame.service.extensions">
      <spool
            configClass="net.sf.jame.service.jxta.extensions.JXTASpoolConfig"
            id="extension.spool.jxta"
            name="JXTA"
            runtimeClass="net.sf.jame.service.jxta.extensions.JXTASpoolRuntime">
      </spool>
   </extension>
   <extension
         id="spool"
         name="JXTA Spool Application"
         point="org.eclipse.core.runtime.applications">
      <application
            visible="true">
         <run
               class="net.sf.jame.service.jxta.SpoolApplication">
         </run>
      </application>
   </extension>
   <extension
         id="rendezvous"
         name="JXTA Rendezvous Application"
         point="org.eclipse.core.runtime.applications">
      <application
            visible="true">
         <run
               class="net.sf.jame.service.jxta.RendezvousApplication">
         </run>
      </application>
   </extension>
   <extension
         id="relay"
         name="JXTA Realy Application"
         point="org.eclipse.core.runtime.applications">
      <application
            visible="true">
         <run
               class="net.sf.jame.service.jxta.RelayApplication">
         </run>
      </application>
   </extension>
   <extension
         id="proxy"
         name="JXTA Proxy Application"
         point="org.eclipse.core.runtime.applications">
      <application
            visible="true">
         <run
               class="net.sf.jame.service.jxta.ProxyApplication">
         </run>
      </application>
   </extension>
   <extension
         id="spool"
         name="JXTA Spool Product"
         point="org.eclipse.core.runtime.products">
      <product
            application="net.sf.jame.service.jxta.spool"
            description="JXTA Spool"
            name="JXTASpool">
         <property
               name="appName"
               value="JXTASpool">
         </property>
      </product>
   </extension>
   <extension
         id="rendezvous"
         name="JXTA Rendezvous Product"
         point="org.eclipse.core.runtime.products">
      <product
            application="net.sf.jame.service.jxta.rendezvous"
            description="JXTA Rendezvous"
            name="JXTARendezvous">
         <property
               name="appName"
               value="JXTARendezvous">
         </property>
      </product>
   </extension>
   <extension
         id="relay"
         name="JXTA Relay Product"
         point="org.eclipse.core.runtime.products">
      <product
            application="net.sf.jame.service.jxta.relay"
            description="JXTA Relay"
            name="JXTARelay">
         <property
               name="appName"
               value="JXTARelay">
         </property>
      </product>
   </extension>
   <extension
         id="proxy"
         name="JXTA Proxy Product"
         point="org.eclipse.core.runtime.products">
      <product
            application="net.sf.jame.service.jxta.proxy"
            description="JXTA Proxy"
            name="JXTAProxy">
         <property
               name="appName"
               value="JXTAProxy">
         </property>
      </product>
   </extension>

</plugin>
