<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="devtoolsExtensions"
         name="Mandelbrot"
         point="net.sf.jame.devtools.extensions">
      <descriptor
            id="devtools.descriptor.criteria"
            name="Criteria Descriptor"
            runtimeClass="net.sf.jame.devtools.mandelbrot.extensions.CriteriaDescriptorRuntime">
      </descriptor>
      <descriptor
            id="devtools.descriptor.exponent"
            name="Exponent Descriptor"
            runtimeClass="net.sf.jame.devtools.mandelbrot.extensions.ExponentDescriptorRuntime">
      </descriptor>
      <descriptor
            id="devtools.descriptor.iterations"
            name="Iterations Descriptor"
            runtimeClass="net.sf.jame.devtools.mandelbrot.extensions.IterationsDescriptorRuntime">
      </descriptor>
      <descriptor
            id="devtools.descriptor.threshold"
            name="Threshold Descriptor"
            runtimeClass="net.sf.jame.devtools.mandelbrot.extensions.ThresholdDescriptorRuntime">
      </descriptor>
      <descriptor
            id="devtools.descriptor.renderedpalette"
            name="RenderedPalette Descriptor"
            runtimeClass="net.sf.jame.devtools.mandelbrot.extensions.RenderedPaletteDescriptorRuntime">
      </descriptor>
   </extension>

</plugin>
