<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="swingtest"
         name="SwingTest"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="net.sf.jame.test.swingapp.TestSwingApplication">
         </run>
      </application>
   </extension>
   <extension
         id="swingtest"
         name="SwingTest Product"
         point="org.eclipse.core.runtime.products">
      <product
            application="net.sf.jame.test.swing.swingtest"
            description="SwingTest"
            name="SwingTest">
         <property
               name="appName"
               value="SwingTest">
         </property>
      </product>
   </extension>

</plugin>
