<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="extensions" name="Twister" schema="schema/extensions.exsd"/>
   <extension
         id="coreExtensions"
         name="Twister"
         point="net.sf.jame.core.extensions">
      <nodeBuilder
            id="twister.effect.spot"
            name="Spot"
            runtimeClass="net.sf.jame.twister.extensions.effect.SpotConfigNodeBuilderRuntime"/>
      <nodeBuilder
            id="twister.effect.fire"
            name="Fire"
            runtimeClass="net.sf.jame.twister.extensions.effect.FireConfigNodeBuilderRuntime"/>
      <nodeBuilder
            id="twister.effect.water"
            name="Water"
            runtimeClass="net.sf.jame.twister.extensions.effect.WaterConfigNodeBuilderRuntime"/>
      <nodeBuilder
            id="twister.frame.filter.color"
            name="Color"
            runtimeClass="net.sf.jame.twister.extensions.frame.filter.ColorConfigNodeBuilderRuntime"/>
      <nodeBuilder
            id="twister.frame.filter.black"
            name="Black"
            runtimeClass="net.sf.jame.twister.extensions.frame.filter.BlackConfigNodeBuilderRuntime"/>
      <nodeBuilder
            id="twister.frame.filter.motionBlur"
            name="MotionBlur"
            runtimeClass="net.sf.jame.twister.extensions.frame.filter.MotionBlurConfigNodeBuilderRuntime"/>
      <nodeBuilder
            id="twister.frame.layer.image.color"
            name="Color"
            runtimeClass="net.sf.jame.twister.extensions.frame.layer.image.ColorConfigNodeBuilderRuntime"/>
      <nodeBuilder
            id="twister.frame.layer.image.black"
            name="Black"
            runtimeClass="net.sf.jame.twister.extensions.frame.layer.image.BlackConfigNodeBuilderRuntime"/>
      <nodeBuilder
            id="twister.frame.layer.image.border"
            name="Border"
            runtimeClass="net.sf.jame.twister.extensions.frame.layer.image.BorderConfigNodeBuilderRuntime"/>
      <nodeBuilder
            id="twister.frame.layer.image.text"
            name="Text"
            runtimeClass="net.sf.jame.twister.extensions.frame.layer.image.TextConfigNodeBuilderRuntime"/>
      <nodeBuilder
            id="twister.frame.layer.filter.color"
            name="Color"
            runtimeClass="net.sf.jame.twister.extensions.frame.layer.filter.ColorConfigNodeBuilderRuntime"/>
      <nodeBuilder
            id="twister.frame.layer.filter.black"
            name="Black"
            runtimeClass="net.sf.jame.twister.extensions.frame.layer.filter.BlackConfigNodeBuilderRuntime"/>
      <nodeBuilder
            id="twister.frame.layer.filter.blur"
            name="Blur"
            runtimeClass="net.sf.jame.twister.extensions.frame.layer.filter.BlurConfigNodeBuilderRuntime"/>
      <nodeBuilder
            id="twister.frame.layer.filter.edge"
            name="Edge"
            runtimeClass="net.sf.jame.twister.extensions.frame.layer.filter.EdgeConfigNodeBuilderRuntime"/>
      <nodeBuilder
            id="twister.frame.layer.filter.sharpen"
            name="Sharpen"
            runtimeClass="net.sf.jame.twister.extensions.frame.layer.filter.SharpenConfigNodeBuilderRuntime"/>
      <extensionConfigXMLImporter
            id="twister.effect.spot"
            name="Spot"
            runtimeClass="net.sf.jame.twister.extensions.effect.SpotConfigXMLImporterRuntime"/>
      <extensionConfigXMLImporter
            id="twister.effect.fire"
            name="Fire"
            runtimeClass="net.sf.jame.twister.extensions.effect.FireConfigXMLImporterRuntime"/>
      <extensionConfigXMLImporter
            id="twister.effect.water"
            name="Water"
            runtimeClass="net.sf.jame.twister.extensions.effect.WaterConfigXMLImporterRuntime"/>
      <extensionConfigXMLImporter
            id="twister.frame.filter.color"
            name="Color"
            runtimeClass="net.sf.jame.twister.extensions.frame.filter.ColorConfigXMLImporterRuntime"/>
      <extensionConfigXMLImporter
            id="twister.frame.filter.black"
            name="Black"
            runtimeClass="net.sf.jame.twister.extensions.frame.filter.BlackConfigXMLImporterRuntime"/>
      <extensionConfigXMLImporter
            id="twister.frame.filter.motionBlur"
            name="MotionBlur"
            runtimeClass="net.sf.jame.twister.extensions.frame.filter.MotionBlurConfigXMLImporterRuntime"/>
      <extensionConfigXMLImporter
            id="twister.frame.layer.image.color"
            name="Color"
            runtimeClass="net.sf.jame.twister.extensions.frame.layer.image.ColorConfigXMLImporterRuntime"/>
      <extensionConfigXMLImporter
            id="twister.frame.layer.image.black"
            name="Black"
            runtimeClass="net.sf.jame.twister.extensions.frame.layer.image.BlackConfigXMLImporterRuntime"/>
      <extensionConfigXMLImporter
            id="twister.frame.layer.image.border"
            name="Border"
            runtimeClass="net.sf.jame.twister.extensions.frame.layer.image.BorderConfigXMLImporterRuntime"/>
      <extensionConfigXMLImporter
            id="twister.frame.layer.image.text"
            name="Text"
            runtimeClass="net.sf.jame.twister.extensions.frame.layer.image.TextConfigXMLImporterRuntime"/>
      <extensionConfigXMLImporter
            id="twister.frame.layer.filter.color"
            name="Color"
            runtimeClass="net.sf.jame.twister.extensions.frame.layer.filter.ColorConfigXMLImporterRuntime"/>
      <extensionConfigXMLImporter
            id="twister.frame.layer.filter.black"
            name="Black"
            runtimeClass="net.sf.jame.twister.extensions.frame.layer.filter.BlackConfigXMLImporterRuntime"/>
      <extensionConfigXMLImporter
            id="twister.frame.layer.filter.blur"
            name="Blur"
            runtimeClass="net.sf.jame.twister.extensions.frame.layer.filter.BlurConfigXMLImporterRuntime"/>
      <extensionConfigXMLImporter
            id="twister.frame.layer.filter.edge"
            name="Edge"
            runtimeClass="net.sf.jame.twister.extensions.frame.layer.filter.EdgeConfigXMLImporterRuntime"/>
      <extensionConfigXMLImporter
            id="twister.frame.layer.filter.sharpen"
            name="Sharpen"
            runtimeClass="net.sf.jame.twister.extensions.frame.layer.filter.SharpenConfigXMLImporterRuntime"/>
      <extensionConfigXMLExporter
            id="twister.effect.spot"
            name="Spot"
            runtimeClass="net.sf.jame.twister.extensions.effect.SpotConfigXMLExporterRuntime"/>
      <extensionConfigXMLExporter
            id="twister.effect.fire"
            name="Fire"
            runtimeClass="net.sf.jame.twister.extensions.effect.FireConfigXMLExporterRuntime"/>
      <extensionConfigXMLExporter
            id="twister.effect.water"
            name="Water"
            runtimeClass="net.sf.jame.twister.extensions.effect.WaterConfigXMLExporterRuntime"/>
      <extensionConfigXMLExporter
            id="twister.frame.filter.color"
            name="Color"
            runtimeClass="net.sf.jame.twister.extensions.frame.filter.ColorConfigXMLExporterRuntime"/>
      <extensionConfigXMLExporter
            id="twister.frame.filter.black"
            name="Black"
            runtimeClass="net.sf.jame.twister.extensions.frame.filter.BlackConfigXMLExporterRuntime"/>
      <extensionConfigXMLExporter
            id="twister.frame.filter.motionBlur"
            name="MotionBlur"
            runtimeClass="net.sf.jame.twister.extensions.frame.filter.MotionBlurConfigXMLExporterRuntime"/>
      <extensionConfigXMLExporter
            id="twister.frame.layer.image.color"
            name="Color"
            runtimeClass="net.sf.jame.twister.extensions.frame.layer.image.ColorConfigXMLExporterRuntime"/>
      <extensionConfigXMLExporter
            id="twister.frame.layer.image.black"
            name="Black"
            runtimeClass="net.sf.jame.twister.extensions.frame.layer.image.BlackConfigXMLExporterRuntime"/>
      <extensionConfigXMLExporter
            id="twister.frame.layer.image.border"
            name="Border"
            runtimeClass="net.sf.jame.twister.extensions.frame.layer.image.BorderConfigXMLExporterRuntime"/>
      <extensionConfigXMLExporter
            id="twister.frame.layer.image.text"
            name="Text"
            runtimeClass="net.sf.jame.twister.extensions.frame.layer.image.TextConfigXMLExporterRuntime"/>
      <extensionConfigXMLExporter
            id="twister.frame.layer.filter.color"
            name="Color"
            runtimeClass="net.sf.jame.twister.extensions.frame.layer.filter.ColorConfigXMLExporterRuntime"/>
      <extensionConfigXMLExporter
            id="twister.frame.layer.filter.black"
            name="Black"
            runtimeClass="net.sf.jame.twister.extensions.frame.layer.filter.BlackConfigXMLExporterRuntime"/>
      <extensionConfigXMLExporter
            id="twister.frame.layer.filter.blur"
            name="Blur"
            runtimeClass="net.sf.jame.twister.extensions.frame.layer.filter.BlurConfigXMLExporterRuntime"/>
      <extensionConfigXMLExporter
            id="twister.frame.layer.filter.edge"
            name="Edge"
            runtimeClass="net.sf.jame.twister.extensions.frame.layer.filter.EdgeConfigXMLExporterRuntime"/>
      <extensionConfigXMLExporter
            id="twister.frame.layer.filter.sharpen"
            name="Sharpen"
            runtimeClass="net.sf.jame.twister.extensions.frame.layer.filter.SharpenConfigXMLExporterRuntime"/>
      <actionXMLImporter
            id="node.class.ViewElement"
            name="ViewElement"
            runtimeClass="net.sf.jame.twister.extensions.action.ViewNodeActionXMLImporterRuntime"/>
      <actionXMLImporter
            id="node.class.SpeedElement"
            name="SpeedElement"
            runtimeClass="net.sf.jame.twister.extensions.action.SpeedNodeActionXMLImporterRuntime"/>
      <actionXMLImporter
            id="node.class.PercentageElement"
            name="PercentageElement"
            runtimeClass="net.sf.jame.twister.extensions.action.PercentageNodeActionXMLImporterRuntime"/>
      <actionXMLImporter
            id="node.class.PaletteElement"
            name="RenderedPaletteElement"
            runtimeClass="net.sf.jame.twister.extensions.action.PaletteNodeActionXMLImporterRuntime"/>
      <actionXMLImporter
            id="node.class.FrameFilterElementList"
            name="FrameFilterElementList"
            runtimeClass="net.sf.jame.twister.extensions.action.FrameFilterListNodeActionXMLImporterRuntime"/>
      <actionXMLImporter
            id="node.class.LayerFilterElementList"
            name="LayerFilterElementList"
            runtimeClass="net.sf.jame.twister.extensions.action.LayerFilterListNodeActionXMLImporterRuntime"/>
      <actionXMLImporter
            id="node.class.ImageLayerElementList"
            name="ImageLayerElementList"
            runtimeClass="net.sf.jame.twister.extensions.action.ImageLayerListNodeActionXMLImporterRuntime"/>
      <actionXMLImporter
            id="node.class.GroupLayerElementList"
            name="GroupLayerElementList"
            runtimeClass="net.sf.jame.twister.extensions.action.GroupLayerListNodeActionXMLImporterRuntime"/>
      <actionXMLImporter
            id="node.class.FrameFilterElement"
            name="FrameFilterElement"
            runtimeClass="net.sf.jame.twister.extensions.action.FrameFilterNodeActionXMLImporterRuntime"/>
      <actionXMLImporter
            id="node.class.LayerFilterElement"
            name="LayerFilterElement"
            runtimeClass="net.sf.jame.twister.extensions.action.LayerFilterNodeActionXMLImporterRuntime"/>
      <actionXMLImporter
            id="node.class.FrameFilterReference"
            name="FrameFilterReference"
            runtimeClass="net.sf.jame.twister.extensions.action.FrameFilterReferenceNodeActionXMLImporterRuntime"/>
      <actionXMLImporter
            id="node.class.LayerFilterReference"
            name="LayerFilterReference"
            runtimeClass="net.sf.jame.twister.extensions.action.LayerFilterReferenceNodeActionXMLImporterRuntime"/>
      <actionXMLImporter
            id="node.class.ImageLayerElement"
            name="ImageLayerElement"
            runtimeClass="net.sf.jame.twister.extensions.action.ImageLayerNodeActionXMLImporterRuntime"/>
      <actionXMLImporter
            id="node.class.GroupLayerElement"
            name="GroupLayerElement"
            runtimeClass="net.sf.jame.twister.extensions.action.GroupLayerNodeActionXMLImporterRuntime"/>
      <actionXMLImporter
            id="node.class.ImageElement"
            name="Image"
            runtimeClass="net.sf.jame.twister.extensions.action.ImageNodeActionXMLImporterRuntime"/>
      <actionXMLImporter
            id="node.class.ImageReference"
            name="ImageReference"
            runtimeClass="net.sf.jame.twister.extensions.action.ImageReferenceNodeActionXMLImporterRuntime"/>
      <actionXMLImporter
            id="node.class.FrameElement"
            name="FrameElement"
            runtimeClass="net.sf.jame.twister.extensions.action.FrameNodeActionXMLImporterRuntime"/>
      <actionXMLImporter
            id="node.class.EffectElement"
            name="EffectElement"
            runtimeClass="net.sf.jame.twister.extensions.action.EffectNodeActionXMLImporterRuntime"/>
      <actionXMLImporter
            id="node.class.EffectReference"
            name="EffectReference"
            runtimeClass="net.sf.jame.twister.extensions.action.EffectReferenceNodeActionXMLImporterRuntime"/>
      <actionXMLImporter
            id="node.class.ImageModeElement"
            name="ImageModeElement"
            runtimeClass="net.sf.jame.twister.extensions.action.ImageModeNodeActionXMLImporterRuntime"/>
      <actionXMLImporter
            id="node.class.InputModeElement"
            name="InputModeElement"
            runtimeClass="net.sf.jame.twister.extensions.action.InputModeNodeActionXMLImporterRuntime"/>
      <actionXMLExporter
            id="node.class.ViewElement"
            name="ViewElement"
            runtimeClass="net.sf.jame.twister.extensions.action.ViewNodeActionXMLExporterRuntime"/>
      <actionXMLExporter
            id="node.class.SpeedElement"
            name="SpeedElement"
            runtimeClass="net.sf.jame.twister.extensions.action.SpeedNodeActionXMLExporterRuntime"/>
      <actionXMLExporter
            id="node.class.PercentageElement"
            name="PercentageElement"
            runtimeClass="net.sf.jame.twister.extensions.action.PercentageNodeActionXMLExporterRuntime"/>
      <actionXMLExporter
            id="node.class.PaletteElement"
            name="RenderedPaletteElement"
            runtimeClass="net.sf.jame.twister.extensions.action.PaletteNodeActionXMLExporterRuntime"/>
      <actionXMLExporter
            id="node.class.FrameFilterElementList"
            name="FrameFilterElementList"
            runtimeClass="net.sf.jame.twister.extensions.action.FrameFilterListNodeActionXMLExporterRuntime"/>
      <actionXMLExporter
            id="node.class.LayerFilterElementList"
            name="LayerFilterElementList"
            runtimeClass="net.sf.jame.twister.extensions.action.LayerFilterListNodeActionXMLExporterRuntime"/>
      <actionXMLExporter
            id="node.class.ImageLayerElementList"
            name="ImageLayerElementList"
            runtimeClass="net.sf.jame.twister.extensions.action.ImageLayerListNodeActionXMLExporterRuntime"/>
      <actionXMLExporter
            id="node.class.GroupLayerElementList"
            name="GroupLayerElementList"
            runtimeClass="net.sf.jame.twister.extensions.action.GroupLayerListNodeActionXMLExporterRuntime"/>
      <actionXMLExporter
            id="node.class.FrameFilterElement"
            name="FrameFilterElement"
            runtimeClass="net.sf.jame.twister.extensions.action.FrameFilterNodeActionXMLExporterRuntime"/>
      <actionXMLExporter
            id="node.class.LayerFilterElement"
            name="LayerFilterElement"
            runtimeClass="net.sf.jame.twister.extensions.action.LayerFilterNodeActionXMLExporterRuntime"/>
      <actionXMLExporter
            id="node.class.FrameFilterReference"
            name="FrameFilterReference"
            runtimeClass="net.sf.jame.twister.extensions.action.FrameFilterReferenceNodeActionXMLExporterRuntime"/>
      <actionXMLExporter
            id="node.class.LayerFilterReference"
            name="LayerFilterReference"
            runtimeClass="net.sf.jame.twister.extensions.action.LayerFilterReferenceNodeActionXMLExporterRuntime"/>
      <actionXMLExporter
            id="node.class.ImageLayerElement"
            name="ImageLayerElement"
            runtimeClass="net.sf.jame.twister.extensions.action.ImageLayerNodeActionXMLExporterRuntime"/>
      <actionXMLExporter
            id="node.class.GroupLayerElement"
            name="GroupLayerElement"
            runtimeClass="net.sf.jame.twister.extensions.action.GroupLayerNodeActionXMLExporterRuntime"/>
      <actionXMLExporter
            id="node.class.ImageElement"
            name="ImageElement"
            runtimeClass="net.sf.jame.twister.extensions.action.ImageNodeActionXMLExporterRuntime"/>
      <actionXMLExporter
            id="node.class.ImageReference"
            name="ImageReference"
            runtimeClass="net.sf.jame.twister.extensions.action.ImageReferenceNodeActionXMLExporterRuntime"/>
      <actionXMLExporter
            id="node.class.FrameElement"
            name="FrameElement"
            runtimeClass="net.sf.jame.twister.extensions.action.FrameNodeActionXMLExporterRuntime"/>
      <actionXMLExporter
            id="node.class.EffectElement"
            name="EffectElement"
            runtimeClass="net.sf.jame.twister.extensions.action.EffectNodeActionXMLExporterRuntime"/>
      <actionXMLExporter
            id="node.class.EffectReference"
            name="EffectReference"
            runtimeClass="net.sf.jame.twister.extensions.action.EffectReferenceNodeActionXMLExporterRuntime"/>
      <actionXMLExporter
            id="node.class.ImageModeElement"
            name="ImageModeElement"
            runtimeClass="net.sf.jame.twister.extensions.action.ImageModeNodeActionXMLExporterRuntime"/>
      <actionXMLExporter
            id="node.class.InputModeElement"
            name="InputModeElement"
            runtimeClass="net.sf.jame.twister.extensions.action.InputModeNodeActionXMLExporterRuntime"/>
   </extension>
   <extension
         id="twisterExtensions"
         name="Twister"
         point="net.sf.jame.twister.extensions">
      <effect
            configClass="net.sf.jame.twister.extensions.effect.SpotConfig"
            id="twister.effect.spot"
            name="Spot"
            runtimeClass="net.sf.jame.twister.extensions.effect.SpotRuntime"/>
      <effect
            configClass="net.sf.jame.twister.extensions.effect.FireConfig"
            id="twister.effect.fire"
            name="Fire"
            runtimeClass="net.sf.jame.twister.extensions.effect.FireRuntime"/>
      <effect
            configClass="net.sf.jame.twister.extensions.effect.WaterConfig"
            id="twister.effect.water"
            name="Water"
            runtimeClass="net.sf.jame.twister.extensions.effect.WaterRuntime"/>
      <image
            configClass="net.sf.jame.twister.extensions.frame.layer.image.ColorConfig"
            id="twister.frame.layer.image.color"
            name="Color"
            runtimeClass="net.sf.jame.twister.extensions.frame.layer.image.ColorRuntime"/>
      <image
            configClass="net.sf.jame.twister.extensions.frame.layer.image.BlackConfig"
            id="twister.frame.layer.image.black"
            name="Black"
            runtimeClass="net.sf.jame.twister.extensions.frame.layer.image.BlackRuntime"/>
      <image
            configClass="net.sf.jame.twister.extensions.frame.layer.image.BorderConfig"
            id="twister.frame.layer.image.border"
            name="Border"
            runtimeClass="net.sf.jame.twister.extensions.frame.layer.image.BorderRuntime"/>
      <image
            configClass="net.sf.jame.twister.extensions.frame.layer.image.TextConfig"
            id="twister.frame.layer.image.text"
            name="Text"
            runtimeClass="net.sf.jame.twister.extensions.frame.layer.image.TextRuntime"/>
      <layerFilter
            configClass="net.sf.jame.twister.extensions.frame.layer.filter.ColorConfig"
            id="twister.frame.layer.filter.color"
            name="Color"
            runtimeClass="net.sf.jame.twister.extensions.frame.layer.filter.ColorRuntime"/>
      <layerFilter
            configClass="net.sf.jame.twister.extensions.frame.layer.filter.BlackConfig"
            id="twister.frame.layer.filter.black"
            name="Black"
            runtimeClass="net.sf.jame.twister.extensions.frame.layer.filter.BlackRuntime"/>
      <layerFilter
            configClass="net.sf.jame.twister.extensions.frame.layer.filter.BlurConfig"
            id="twister.frame.layer.filter.blur"
            name="Blur"
            runtimeClass="net.sf.jame.twister.extensions.frame.layer.filter.BlurRuntime"/>
      <layerFilter
            configClass="net.sf.jame.twister.extensions.frame.layer.filter.EdgeConfig"
            id="twister.frame.layer.filter.edge"
            name="Edge"
            runtimeClass="net.sf.jame.twister.extensions.frame.layer.filter.EdgeRuntime"/>
      <layerFilter
            configClass="net.sf.jame.twister.extensions.frame.layer.filter.SharpenConfig"
            id="twister.frame.layer.filter.sharpen"
            name="Sharpen"
            runtimeClass="net.sf.jame.twister.extensions.frame.layer.filter.SharpenRuntime"/>
      <frameFilter
            configClass="net.sf.jame.twister.extensions.frame.filter.ColorConfig"
            id="twister.frame.filter.color"
            name="Color"
            runtimeClass="net.sf.jame.twister.extensions.frame.filter.ColorRuntime"/>
      <frameFilter
            configClass="net.sf.jame.twister.extensions.frame.filter.BlackConfig"
            id="twister.frame.filter.black"
            name="Black"
            runtimeClass="net.sf.jame.twister.extensions.frame.filter.BlackRuntime"/>
      <frameFilter
            configClass="net.sf.jame.twister.extensions.frame.filter.MotionBlurConfig"
            id="twister.frame.filter.motionBlur"
            name="MotionBlur"
            runtimeClass="net.sf.jame.twister.extensions.frame.filter.MotionBlurRuntime"/>
   </extension>
   <extension
         id="coreExtensions"
         name="Twister"
         point="net.sf.jame.core.extensions">
      <creator
            id="node.class.PercentageElement"
            name="PercentageCreator"
            runtimeClass="net.sf.jame.twister.extensions.creator.PercentageCreatorRuntime"/>
      <creator
            id="node.class.SpeedElement"
            name="SpeedCreator"
            runtimeClass="net.sf.jame.twister.extensions.creator.SpeedCreatorRuntime"/>
      <creator
            id="node.class.ViewElement"
            name="ViewCreator"
            runtimeClass="net.sf.jame.twister.extensions.creator.ViewCreatorRuntime"/>
      <creator
            id="node.class.ImageModeElement"
            name="ImageModeCreator"
            runtimeClass="net.sf.jame.twister.extensions.creator.ImageModeCreatorRuntime"/>
      <creator
            id="node.class.InputModeElement"
            name="InputModeCreator"
            runtimeClass="net.sf.jame.twister.extensions.creator.InputModeCreatorRuntime"/>
      <creator
            id="node.class.PaletteElement"
            name="PaletteCreator"
            runtimeClass="net.sf.jame.twister.extensions.creator.PaletteCreatorRuntime"/>
      <creator
            id="node.class.EffectElement"
            name="EffectCreator"
            runtimeClass="net.sf.jame.twister.extensions.creator.EffectCreatorRuntime"/>
      <creator
            id="node.class.FrameElement"
            name="FrameCreator"
            runtimeClass="net.sf.jame.twister.extensions.creator.FrameCreatorRuntime"/>
      <creator
            id="node.class.FrameFilterElement"
            name="FrameFilterCreator"
            runtimeClass="net.sf.jame.twister.extensions.creator.FrameFilterCreatorRuntime"/>
      <creator
            id="node.class.GroupLayerElement"
            name="GroupLayerCreator"
            runtimeClass="net.sf.jame.twister.extensions.creator.GroupLayerCreatorRuntime"/>
      <creator
            id="node.class.ImageLayerElement"
            name="ImageLayerCreator"
            runtimeClass="net.sf.jame.twister.extensions.creator.ImageLayerCreatorRuntime"/>
      <creator
            id="node.class.LayerFilterElement"
            name="LayerFilterCreator"
            runtimeClass="net.sf.jame.twister.extensions.creator.LayerFilterCreatorRuntime"/>
      <creator
            id="node.class.FrameFilterElementList"
            name="FrameFilterListCreator"
            runtimeClass="net.sf.jame.twister.extensions.creator.FrameFilterCreatorRuntime"/>
      <creator
            id="node.class.GroupLayerElementList"
            name="GroupLayerListCreator"
            runtimeClass="net.sf.jame.twister.extensions.creator.GroupLayerCreatorRuntime"/>
      <creator
            id="node.class.ImageLayerElementList"
            name="ImageLayerListCreator"
            runtimeClass="net.sf.jame.twister.extensions.creator.ImageLayerCreatorRuntime"/>
      <creator
            id="node.class.LayerFilterElementList"
            name="LayerFilterListCreator"
            runtimeClass="net.sf.jame.twister.extensions.creator.LayerFilterCreatorRuntime"/>
      <creator
            id="node.class.ImageElement"
            name="ImageCreator"
            runtimeClass="net.sf.jame.twister.extensions.creator.ImageCreatorRuntime"/>
      <creator
            id="node.class.EffectReference"
            name="EffectReferenceCreator"
            runtimeClass="net.sf.jame.core.scripting.ReferenceCreatorRuntime"/>
      <creator
            id="node.class.ImageReference"
            name="ImageReferenceCreator"
            runtimeClass="net.sf.jame.core.scripting.ReferenceCreatorRuntime"/>
      <creator
            id="node.class.FrameFilterReference"
            name="FrameFilterReferenceCreator"
            runtimeClass="net.sf.jame.core.scripting.ReferenceCreatorRuntime"/>
      <creator
            id="node.class.LayerFilterReference"
            name="LayerFilterReferenceCreator"
            runtimeClass="net.sf.jame.core.scripting.ReferenceCreatorRuntime"/>
      <enumerator
            id="node.class.EffectReference"
            name="EffectEnumerator"
            runtimeClass="net.sf.jame.twister.extensions.enumerator.EffectEnumeratorRuntime"/>
      <enumerator
            id="node.class.ImageReference"
            name="ImageEnumerator"
            runtimeClass="net.sf.jame.twister.extensions.enumerator.ImageEnumeratorRuntime"/>
      <enumerator
            id="node.class.FrameFilterReference"
            name="FrameFilterEnumerator"
            runtimeClass="net.sf.jame.twister.extensions.enumerator.FrameFilterEnumeratorRuntime"/>
      <enumerator
            id="node.class.LayerFilterReference"
            name="LayerFilterEnumerator"
            runtimeClass="net.sf.jame.twister.extensions.enumerator.LayerFilterEnumeratorRuntime"/>
      <constructor
            id="type.class.IntegerVector2D"
            name="IntegerVector2DConstructor"
            runtimeClass="net.sf.jame.twister.extensions.constructor.IntegerVector2DConstructorRuntime"/>
      <constructor
            id="type.class.IntegerVector4D"
            name="IntegerVector4DConstructor"
            runtimeClass="net.sf.jame.twister.extensions.constructor.IntegerVector4DConstructorRuntime"/>
      <constructor
            id="type.class.DoubleVector2D"
            name="DoubleVector2DConstructor"
            runtimeClass="net.sf.jame.twister.extensions.constructor.DoubleVector2DConstructorRuntime"/>
      <constructor
            id="type.class.DoubleVector4D"
            name="DoubleVector4DConstructor"
            runtimeClass="net.sf.jame.twister.extensions.constructor.DoubleVector4DConstructorRuntime"/>
   </extension>

</plugin>
