<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="devtoolsExtensions"
         name="Twister"
         point="net.sf.jame.devtools.extensions">
      <descriptor
            id="devtools.descriptor.view"
            name="View Descriptor"
            runtimeClass="net.sf.jame.devtools.twister.extensions.ViewDescriptorRuntime">
      </descriptor>
      <descriptor
            id="devtools.descriptor.speed"
            name="Speed Descriptor"
            runtimeClass="net.sf.jame.devtools.twister.extensions.SpeedDescriptorRuntime">
      </descriptor>
      <descriptor
            id="devtools.descriptor.percentage"
            name="Percentage Descriptor"
            runtimeClass="net.sf.jame.devtools.twister.extensions.PercentageDescriptorRuntime">
      </descriptor>
      <descriptor
            id="devtools.descriptor.effect"
            name="Effect Descriptor"
            runtimeClass="net.sf.jame.devtools.twister.extensions.EffectDescriptorRuntime">
      </descriptor>
   </extension>

</plugin>
