<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="extensions" name="Core Swing" schema="schema/extensions.exsd"/>
   <extension
         id="coreExtensions"
         name="Core Swing"
         point="net.sf.jame.core.swing.extensions">
      <editor
            id="node.class.ColorElement"
            name="ColorElement"
            runtimeClass="net.sf.jame.core.swing.extensions.editor.ColorElementEditorRuntime"/>
      <editor
            id="node.class.StringElement"
            name="StringElement"
            runtimeClass="net.sf.jame.core.swing.extensions.editor.StringElementEditorRuntime"/>
      <editor
            id="node.class.BooleanElement"
            name="BooleanElement"
            runtimeClass="net.sf.jame.core.swing.extensions.editor.BooleanElementEditorRuntime"/>
      <editor
            id="node.class.ComplexElement"
            name="ComplexElement"
            runtimeClass="net.sf.jame.core.swing.extensions.editor.ComplexElementEditorRuntime"/>
      <editor
            id="node.class.RectangleElement"
            name="RectangleElement"
            runtimeClass="net.sf.jame.core.swing.extensions.editor.RectangleElementEditorRuntime"/>
      <editor
            id="node.class.DoubleElement"
            name="DoubleElement"
            runtimeClass="net.sf.jame.core.swing.extensions.editor.DoubleElementEditorRuntime"/>
      <editor
            id="node.class.FloatElement"
            name="FloatElement"
            runtimeClass="net.sf.jame.core.swing.extensions.editor.FloatElementEditorRuntime"/>
      <editor
            id="node.class.IntegerElement"
            name="IntegerElement"
            runtimeClass="net.sf.jame.core.swing.extensions.editor.IntegerElementEditorRuntime"/>
      <editor
            id="node.class.LongElement"
            name="LongElement"
            runtimeClass="net.sf.jame.core.swing.extensions.editor.LongElementEditorRuntime"/>
      <editor
            id="node.class.ShortElement"
            name="ShortElement"
            runtimeClass="net.sf.jame.core.swing.extensions.editor.ShortElementEditorRuntime"/>
      <editor
            id="node.class.FontElement"
            name="FontElement"
            runtimeClass="net.sf.jame.core.swing.extensions.editor.FontElementEditorRuntime"/>
   </extension>

</plugin>
