<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="devtoolsExtensions"
         name="DevTools"
         point="net.sf.jame.devtools.extensions">
      <descriptor
            id="devtools.descriptor.boolean"
            name="Boolean Descriptor"
            runtimeClass="net.sf.jame.devtools.core.extensions.BooleanDescriptorRuntime">
      </descriptor>
      <descriptor
            id="devtools.descriptor.color"
            name="Color Descriptor"
            runtimeClass="net.sf.jame.devtools.core.extensions.ColorDescriptorRuntime">
      </descriptor>
      <descriptor
            id="devtools.descriptor.complex"
            name="Complex Descriptor"
            runtimeClass="net.sf.jame.devtools.core.extensions.ComplexDescriptorRuntime">
      </descriptor>
      <descriptor
            id="devtools.descriptor.double"
            name="Double Descriptor"
            runtimeClass="net.sf.jame.devtools.core.extensions.DoubleDescriptorRuntime">
      </descriptor>
      <descriptor
            id="devtools.descriptor.float"
            name="Float Descriptor"
            runtimeClass="net.sf.jame.devtools.core.extensions.FloatDescriptorRuntime">
      </descriptor>
      <descriptor
            id="devtools.descriptor.integer"
            name="Integer Descriptor"
            runtimeClass="net.sf.jame.devtools.core.extensions.IntegerDescriptorRuntime">
      </descriptor>
      <descriptor
            id="devtools.descriptor.boolean"
            name="Boolean Descriptor"
            runtimeClass="net.sf.jame.devtools.core.extensions.BooleanDescriptorRuntime">
      </descriptor>
      <descriptor
            id="devtools.descriptor.long"
            name="Long Descriptor"
            runtimeClass="net.sf.jame.devtools.core.extensions.LongDescriptorRuntime">
      </descriptor>
      <descriptor
            id="devtools.descriptor.rectangle"
            name="Rectangle Descriptor"
            runtimeClass="net.sf.jame.devtools.core.extensions.RectangleDescriptorRuntime">
      </descriptor>
      <descriptor
            id="devtools.descriptor.short"
            name="Short Descriptor"
            runtimeClass="net.sf.jame.devtools.core.extensions.ShortDescriptorRuntime">
      </descriptor>
      <descriptor
            id="devtools.descriptor.string"
            name="String Descriptor"
            runtimeClass="net.sf.jame.devtools.core.extensions.StringDescriptorRuntime">
      </descriptor>
   </extension>

</plugin>
