<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="extensions" name="ContextFree" schema="schema/extensions.exsd"/>
   <extension
         id="twisterExtensions"
         name="ContextFree"
         point="net.sf.jame.twister.extensions">
      <image
            configClass="net.sf.jame.contextfree.extensions.image.ContextFreeImageConfig"
            id="twister.frame.layer.image.contextfree"
            name="ContextFree Fractal"
            runtimeClass="net.sf.jame.contextfree.extensions.image.ContextFreeImageRuntime"/>
   </extension>
   <extension
         id="coreExtensions"
         name="ContextFree"
         point="net.sf.jame.core.extensions">
      <extensionConfigXMLImporter
            id="twister.frame.layer.image.contextfree"
            name="ContextFree Fractal"
            runtimeClass="net.sf.jame.contextfree.extensions.image.ContextFreeImageConfigXMLImporterRuntime"/>
      <extensionConfigXMLExporter
            id="twister.frame.layer.image.contextfree"
            name="ContextFree Fractal"
            runtimeClass="net.sf.jame.contextfree.extensions.image.ContextFreeImageConfigXMLExporterRuntime"/>
      <nodeBuilder
            id="twister.frame.layer.image.contextfree"
            name="ContextFree Fractal"
            runtimeClass="net.sf.jame.contextfree.extensions.image.ContextFreeImageConfigNodeBuilderRuntime"/>
      <extensionConfigXMLImporter
            id="contextfree.path.adjustment.color.targetHue"
            name="TargetHue PathAdjustment"
            runtimeClass="net.sf.jame.contextfree.extensions.pathAdjustment.TargetHuePathAdjustmentConfigXMLImporterRuntime"/>
      <extensionConfigXMLExporter
            id="contextfree.path.adjustment.color.targetHue"
            name="TargetHue PathAdjustment"
            runtimeClass="net.sf.jame.contextfree.extensions.pathAdjustment.TargetHuePathAdjustmentConfigXMLExporterRuntime"/>
      <nodeBuilder
            id="contextfree.path.adjustment.color.targetHue"
            name="TargetHue PathAdjustment"
            runtimeClass="net.sf.jame.contextfree.extensions.pathAdjustment.TargetHuePathAdjustmentConfigNodeBuilderRuntime"/>
      <extensionConfigXMLImporter
            id="contextfree.path.replacement.operation.lineto"
            name="LineTo PathReplacement"
            runtimeClass="net.sf.jame.contextfree.extensions.pathReplacement.LineToPathReplacementConfigXMLImporterRuntime"/>
      <extensionConfigXMLExporter
            id="contextfree.path.replacement.operation.lineto"
            name="LineTo PathReplacement"
            runtimeClass="net.sf.jame.contextfree.extensions.pathReplacement.LineToPathReplacementConfigXMLExporterRuntime"/>
      <nodeBuilder
            id="contextfree.path.replacement.operation.lineto"
            name="LineTo PathReplacement"
            runtimeClass="net.sf.jame.contextfree.extensions.pathReplacement.LineToPathReplacementConfigNodeBuilderRuntime"/>
      <extensionConfigXMLImporter
            id="contextfree.path.replacement.command.fill"
            name="Fill PathReplacement"
            runtimeClass="net.sf.jame.contextfree.extensions.pathReplacement.FillPathReplacementConfigXMLImporterRuntime"/>
      <extensionConfigXMLExporter
            id="contextfree.path.replacement.command.fill"
            name="Fill PathReplacement"
            runtimeClass="net.sf.jame.contextfree.extensions.pathReplacement.FillPathReplacementConfigXMLExporterRuntime"/>
      <nodeBuilder
            id="contextfree.path.replacement.command.fill"
            name="Fill PathReplacement"
            runtimeClass="net.sf.jame.contextfree.extensions.pathReplacement.FillPathReplacementConfigNodeBuilderRuntime"/>
      <extensionConfigXMLImporter
            id="contextfree.path.replacement.single"
            name="Single PathReplacement"
            runtimeClass="net.sf.jame.contextfree.extensions.pathReplacement.SinglePathReplacementConfigXMLImporterRuntime"/>
      <extensionConfigXMLExporter
            id="contextfree.path.replacement.single"
            name="Single PathReplacement"
            runtimeClass="net.sf.jame.contextfree.extensions.pathReplacement.SinglePathReplacementConfigXMLExporterRuntime"/>
      <nodeBuilder
            id="contextfree.path.replacement.single"
            name="Single PathReplacement"
            runtimeClass="net.sf.jame.contextfree.extensions.pathReplacement.SinglePathReplacementConfigNodeBuilderRuntime"/>
      <extensionConfigXMLImporter
            id="contextfree.path.replacement.multi"
            name="Multi PathReplacement"
            runtimeClass="net.sf.jame.contextfree.extensions.pathReplacement.MultiPathReplacementConfigXMLImporterRuntime"/>
      <extensionConfigXMLExporter
            id="contextfree.path.replacement.multi"
            name="Multi PathReplacement"
            runtimeClass="net.sf.jame.contextfree.extensions.pathReplacement.MultiPathReplacementConfigXMLExporterRuntime"/>
      <nodeBuilder
            id="contextfree.path.replacement.multi"
            name="Multi PathReplacement"
            runtimeClass="net.sf.jame.contextfree.extensions.pathReplacement.MultiPathReplacementConfigNodeBuilderRuntime"/>
      <extensionConfigXMLImporter
            id="contextfree.shape.adjustment.color.targetHue"
            name="TargetHue ShapeAdjustment"
            runtimeClass="net.sf.jame.contextfree.extensions.shapeAdjustment.TargetHueShapeAdjustmentConfigXMLImporterRuntime"/>
      <extensionConfigXMLExporter
            id="contextfree.shape.adjustment.color.targetHue"
            name="TargetHue ShapeAdjustment"
            runtimeClass="net.sf.jame.contextfree.extensions.shapeAdjustment.TargetHueShapeAdjustmentConfigXMLExporterRuntime"/>
      <nodeBuilder
            id="contextfree.shape.adjustment.color.targetHue"
            name="TargetHue ShapeAdjustment"
            runtimeClass="net.sf.jame.contextfree.extensions.shapeAdjustment.TargetHueShapeAdjustmentConfigNodeBuilderRuntime"/>
      <extensionConfigXMLImporter
            id="contextfree.figure.rule"
            name="Rule Fugure"
            runtimeClass="net.sf.jame.contextfree.extensions.figure.RuleFigureConfigXMLImporterRuntime"/>
      <extensionConfigXMLExporter
            id="contextfree.figure.rule"
            name="Rule Figure"
            runtimeClass="net.sf.jame.contextfree.extensions.figure.RuleFigureConfigXMLExporterRuntime"/>
      <nodeBuilder
            id="contextfree.figure.rule"
            name="Rule Figure"
            runtimeClass="net.sf.jame.contextfree.extensions.figure.RuleFigureConfigNodeBuilderRuntime"/>
      <extensionConfigXMLImporter
            id="contextfree.figure.path"
            name="Path Fugure"
            runtimeClass="net.sf.jame.contextfree.extensions.figure.PathFigureConfigXMLImporterRuntime"/>
      <extensionConfigXMLExporter
            id="contextfree.figure.path"
            name="Path Figure"
            runtimeClass="net.sf.jame.contextfree.extensions.figure.PathFigureConfigXMLExporterRuntime"/>
      <nodeBuilder
            id="contextfree.figure.path"
            name="Path Figure"
            runtimeClass="net.sf.jame.contextfree.extensions.figure.PathFigureConfigNodeBuilderRuntime"/>
      <extensionConfigXMLImporter
            id="contextfree.figure.triangle"
            name="Path Fugure"
            runtimeClass="net.sf.jame.contextfree.extensions.figure.PathFigureConfigXMLImporterRuntime"/>
      <extensionConfigXMLExporter
            id="contextfree.figure.triangle"
            name="Triangle Figure"
            runtimeClass="net.sf.jame.contextfree.extensions.figure.TriangleFigureConfigXMLExporterRuntime"/>
      <nodeBuilder
            id="contextfree.figure.triangle"
            name="Triangle Figure"
            runtimeClass="net.sf.jame.contextfree.extensions.figure.TriangleFigureConfigNodeBuilderRuntime"/>
      <extensionConfigXMLImporter
            id="contextfree.figure.square"
            name="Square Fugure"
            runtimeClass="net.sf.jame.contextfree.extensions.figure.SquareFigureConfigXMLImporterRuntime"/>
      <extensionConfigXMLExporter
            id="contextfree.figure.square"
            name="Square Figure"
            runtimeClass="net.sf.jame.contextfree.extensions.figure.SquareFigureConfigXMLExporterRuntime"/>
      <nodeBuilder
            id="contextfree.figure.square"
            name="Square Figure"
            runtimeClass="net.sf.jame.contextfree.extensions.figure.SquareFigureConfigNodeBuilderRuntime"/>
      <extensionConfigXMLImporter
            id="contextfree.figure.circle"
            name="Circle Fugure"
            runtimeClass="net.sf.jame.contextfree.extensions.figure.CircleFigureConfigXMLImporterRuntime"/>
      <extensionConfigXMLExporter
            id="contextfree.figure.circle"
            name="Circle Figure"
            runtimeClass="net.sf.jame.contextfree.extensions.figure.CircleFigureConfigXMLExporterRuntime"/>
      <nodeBuilder
            id="contextfree.figure.circle"
            name="Circle Figure"
            runtimeClass="net.sf.jame.contextfree.extensions.figure.CircleFigureConfigNodeBuilderRuntime"/>
      <extensionConfigXMLImporter
            id="contextfree.shape.replacement.single"
            name="Single Replacement"
            runtimeClass="net.sf.jame.contextfree.extensions.shapeReplacement.SingleShapeReplacementConfigXMLImporterRuntime"/>
      <extensionConfigXMLExporter
            id="contextfree.shape.replacement.single"
            name="Single Replacement"
            runtimeClass="net.sf.jame.contextfree.extensions.shapeReplacement.SingleShapeReplacementConfigXMLExporterRuntime"/>
      <nodeBuilder
            id="contextfree.shape.replacement.single"
            name="Single Replacement"
            runtimeClass="net.sf.jame.contextfree.extensions.shapeReplacement.SingleShapeReplacementConfigNodeBuilderRuntime"/>
      <extensionConfigXMLImporter
            id="contextfree.shape.replacement.multi"
            name="LoopShape Replacement"
            runtimeClass="net.sf.jame.contextfree.extensions.shapeReplacement.MultiShapeReplacementConfigXMLImporterRuntime"/>
      <extensionConfigXMLExporter
            id="contextfree.shape.replacement.multi"
            name="Multi Replacement"
            runtimeClass="net.sf.jame.contextfree.extensions.shapeReplacement.MultiShapeReplacementConfigXMLExporterRuntime"/>
      <nodeBuilder
            id="contextfree.shape.replacement.multi"
            name="Multi Replacement"
            runtimeClass="net.sf.jame.contextfree.extensions.shapeReplacement.MultiShapeReplacementConfigNodeBuilderRuntime"/>
   </extension>
   <extension
         id="contextfreeExtensions"
         name="ContextFree"
         point="net.sf.jame.contextfree.extensions">
      <pathAdjustment
            configClass="net.sf.jame.contextfree.extensions.pathAdjustment.TargetHuePathAdjustmentConfig"
            id="contextfree.path.adjustment.color.targetHue"
            name="TargetHue Adjustment"
            runtimeClass="net.sf.jame.contextfree.extensions.pathAdjustment.TargetHuePathAdjustmentRuntime"/>
      <pathReplacement
            configClass="net.sf.jame.contextfree.extensions.pathReplacement.LineToPathReplacementConfig"
            id="contextfree.path.replacement.operation.lineto"
            name="LineTo PathReplacement"
            runtimeClass="net.sf.jame.contextfree.extensions.pathReplacement.LineToPathReplacementRuntime"/>
      <pathReplacement
            configClass="net.sf.jame.contextfree.extensions.pathReplacement.FillPathReplacementConfig"
            id="contextfree.path.replacement.command.fill"
            name="Fill PathReplacement"
            runtimeClass="net.sf.jame.contextfree.extensions.pathReplacement.FillPathReplacementRuntime"/>
      <pathReplacement
            configClass="net.sf.jame.contextfree.extensions.pathReplacement.SinglePathReplacementConfig"
            id="contextfree.path.replacement.single"
            name="Single PathReplacement"
            runtimeClass="net.sf.jame.contextfree.extensions.pathReplacement.SinglePathReplacementRuntime"/>
      <pathReplacement
            configClass="net.sf.jame.contextfree.extensions.pathReplacement.MultiPathReplacementConfig"
            id="contextfree.path.replacement.multi"
            name="Multi PathReplacement"
            runtimeClass="net.sf.jame.contextfree.extensions.pathReplacement.MultiPathReplacementRuntime"/>
      <shapeAdjustment
            configClass="net.sf.jame.contextfree.extensions.shapeAdjustment.TargetHueShapeAdjustmentConfig"
            id="contextfree.shape.adjustment.color.targetHue"
            name="TargetHue ShapeAdjustment"
            runtimeClass="net.sf.jame.contextfree.extensions.shapeAdjustment.TargetHueShapeAdjustmentRuntime"/>
      <shapeReplacement
            configClass="net.sf.jame.contextfree.extensions.shapeReplacement.SingleShapeReplacementConfig"
            id="contextfree.shape.replacement.single"
            name="Single ShapeReplacement"
            runtimeClass="net.sf.jame.contextfree.extensions.shapeReplacement.SingleShapeReplacementRuntime"/>
      <shapeReplacement
            configClass="net.sf.jame.contextfree.extensions.shapeReplacement.MultiShapeReplacementConfig"
            id="contextfree.shape.replacement.multi"
            name="Multi ShapeReplacement"
            runtimeClass="net.sf.jame.contextfree.extensions.shapeReplacement.MultiShapeReplacementRuntime"/>
      <figure
            configClass="net.sf.jame.contextfree.extensions.figure.PathFigureConfig"
            id="contextfree.figure.path"
            name="Path Figure"
            runtimeClass="net.sf.jame.contextfree.extensions.figure.PathFigureRuntime"/>
      <figure
            configClass="net.sf.jame.contextfree.extensions.figure.RuleFigureConfig"
            id="contextfree.figure.rule"
            name="Rule Figure"
            runtimeClass="net.sf.jame.contextfree.extensions.figure.RuleFigureRuntime"/>
      <figure
            configClass="net.sf.jame.contextfree.extensions.figure.TriangleFigureConfig"
            id="contextfree.figure.triangle"
            name="Triangle Figure"
            runtimeClass="net.sf.jame.contextfree.extensions.figure.TriangleFigureRuntime"/>
      <figure
            configClass="net.sf.jame.contextfree.extensions.figure.SquareFigureConfig"
            id="contextfree.figure.square"
            name="Square Figure"
            runtimeClass="net.sf.jame.contextfree.extensions.figure.SquareFigureRuntime"/>
      <figure
            configClass="net.sf.jame.contextfree.extensions.figure.CircleFigureConfig"
            id="contextfree.figure.circle"
            name="Circle Figure"
            runtimeClass="net.sf.jame.contextfree.extensions.figure.CircleFigureRuntime"/>
   </extension>

</plugin>
