<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="extensions" name="ContextFree" schema="schema/extensions.exsd"/>
   <extension
         id="twisterExtensions"
         name="ContextFree"
         point="net.sf.jame.twister.extensions">
      <image
            configClass="net.sf.jame.contextfree.extensions.image.ContextFreeImageConfig"
            id="twister.frame.layer.image.contextfree"
            name="ContextFree Fractal"
            runtimeClass="net.sf.jame.contextfree.extensions.image.ContextFreeImageRuntime"/>
   </extension>
   <extension
         id="coreExtensions"
         name="ContextFree"
         point="net.sf.jame.core.extensions">
      <extensionConfigXMLImporter
            id="twister.frame.layer.image.contextfree"
            name="ContextFree Fractal"
            runtimeClass="net.sf.jame.contextfree.extensions.image.ContextFreeImageConfigXMLImporterRuntime"/>
      <extensionConfigXMLExporter
            id="twister.frame.layer.image.contextfree"
            name="ContextFree Fractal"
            runtimeClass="net.sf.jame.contextfree.extensions.image.ContextFreeImageConfigXMLExporterRuntime"/>
      <nodeBuilder
            id="twister.frame.layer.image.contextfree"
            name="ContextFree Fractal"
            runtimeClass="net.sf.jame.contextfree.extensions.image.ContextFreeImageConfigNodeBuilderRuntime"/>
      <extensionConfigXMLImporter
            id="contextfree.path.adjustment.hue"
            name="Hue PathAdjustment"
            runtimeClass="net.sf.jame.contextfree.extensions.pathAdjustment.HuePathAdjustmentConfigXMLImporterRuntime"/>
      <extensionConfigXMLExporter
            id="contextfree.path.adjustment.hue"
            name="Hue PathAdjustment"
            runtimeClass="net.sf.jame.contextfree.extensions.pathAdjustment.HuePathAdjustmentConfigXMLExporterRuntime"/>
      <nodeBuilder
            id="contextfree.path.adjustment.hue"
            name="Hue PathAdjustment"
            runtimeClass="net.sf.jame.contextfree.extensions.pathAdjustment.HuePathAdjustmentConfigNodeBuilderRuntime"/>
      <extensionConfigXMLImporter
            id="contextfree.path.operation.lineto"
            name="LineTo PathOperation"
            runtimeClass="net.sf.jame.contextfree.extensions.pathReplacement.LineToPathOperationConfigXMLImporterRuntime"/>
      <extensionConfigXMLExporter
            id="contextfree.path.operation.lineto"
            name="LineTo PathOperation"
            runtimeClass="net.sf.jame.contextfree.extensions.pathReplacement.LineToPathOperationConfigXMLExporterRuntime"/>
      <nodeBuilder
            id="contextfree.path.operation.lineto"
            name="LineTo PathOperation"
            runtimeClass="net.sf.jame.contextfree.extensions.pathReplacement.LineToPathOperationConfigNodeBuilderRuntime"/>
      <extensionConfigXMLImporter
            id="contextfree.shape.adjustment.hue"
            name="Hue ShapeAdjustment"
            runtimeClass="net.sf.jame.contextfree.extensions.shapeAdjustment.HueShapeAdjustmentConfigXMLImporterRuntime"/>
      <extensionConfigXMLExporter
            id="contextfree.shape.adjustment.hue"
            name="Hue ShapeAdjustment"
            runtimeClass="net.sf.jame.contextfree.extensions.shapeAdjustment.HueShapeAdjustmentConfigXMLExporterRuntime"/>
      <nodeBuilder
            id="contextfree.shape.adjustment.hue"
            name="Hue ShapeAdjustment"
            runtimeClass="net.sf.jame.contextfree.extensions.shapeAdjustment.HueShapeAdjustmentConfigNodeBuilderRuntime"/>
      <extensionConfigXMLImporter
            id="contextfree.figure.rule"
            name="Rule Fugure"
            runtimeClass="net.sf.jame.contextfree.extensions.figure.RuleFigureConfigXMLImporterRuntime"/>
      <extensionConfigXMLExporter
            id="contextfree.figure.rule"
            name="Rule Figure"
            runtimeClass="net.sf.jame.contextfree.extensions.figure.RuleFigureConfigXMLExporterRuntime"/>
      <nodeBuilder
            id="contextfree.figure.rule"
            name="Rule Figure"
            runtimeClass="net.sf.jame.contextfree.extensions.figure.RuleFigureConfigNodeBuilderRuntime"/>
      <extensionConfigXMLImporter
            id="contextfree.figure.path"
            name="Path Fugure"
            runtimeClass="net.sf.jame.contextfree.extensions.figure.PathFigureConfigXMLImporterRuntime"/>
      <extensionConfigXMLExporter
            id="contextfree.figure.path"
            name="Path Figure"
            runtimeClass="net.sf.jame.contextfree.extensions.figure.PathFigureConfigXMLExporterRuntime"/>
      <nodeBuilder
            id="contextfree.figure.path"
            name="Path Figure"
            runtimeClass="net.sf.jame.contextfree.extensions.figure.PathFigureConfigNodeBuilderRuntime"/>
      <extensionConfigXMLImporter
            id="contextfree.figure.triangle"
            name="Path Fugure"
            runtimeClass="net.sf.jame.contextfree.extensions.figure.PathFigureConfigXMLImporterRuntime"/>
      <extensionConfigXMLExporter
            id="contextfree.figure.triangle"
            name="Triangle Figure"
            runtimeClass="net.sf.jame.contextfree.extensions.figure.TriangleFigureConfigXMLExporterRuntime"/>
      <nodeBuilder
            id="contextfree.figure.triangle"
            name="Triangle Figure"
            runtimeClass="net.sf.jame.contextfree.extensions.figure.TriangleFigureConfigNodeBuilderRuntime"/>
      <extensionConfigXMLImporter
            id="contextfree.figure.square"
            name="Square Fugure"
            runtimeClass="net.sf.jame.contextfree.extensions.figure.SquareFigureConfigXMLImporterRuntime"/>
      <extensionConfigXMLExporter
            id="contextfree.figure.square"
            name="Square Figure"
            runtimeClass="net.sf.jame.contextfree.extensions.figure.SquareFigureConfigXMLExporterRuntime"/>
      <nodeBuilder
            id="contextfree.figure.square"
            name="Square Figure"
            runtimeClass="net.sf.jame.contextfree.extensions.figure.SquareFigureConfigNodeBuilderRuntime"/>
      <extensionConfigXMLImporter
            id="contextfree.figure.circle"
            name="Circle Fugure"
            runtimeClass="net.sf.jame.contextfree.extensions.figure.CircleFigureConfigXMLImporterRuntime"/>
      <extensionConfigXMLExporter
            id="contextfree.figure.circle"
            name="Circle Figure"
            runtimeClass="net.sf.jame.contextfree.extensions.figure.CircleFigureConfigXMLExporterRuntime"/>
      <nodeBuilder
            id="contextfree.figure.circle"
            name="Circle Figure"
            runtimeClass="net.sf.jame.contextfree.extensions.figure.CircleFigureConfigNodeBuilderRuntime"/>
      <extensionConfigXMLImporter
            id="contextfree.shape.replacement.single"
            name="Single Replacement"
            runtimeClass="net.sf.jame.contextfree.extensions.shapeReplacement.SingleReplacementConfigXMLImporterRuntime"/>
      <extensionConfigXMLExporter
            id="contextfree.shape.replacement.single"
            name="Single Replacement"
            runtimeClass="net.sf.jame.contextfree.extensions.shapeReplacement.SingleReplacementConfigXMLExporterRuntime"/>
      <nodeBuilder
            id="contextfree.shape.replacement.single"
            name="Single Replacement"
            runtimeClass="net.sf.jame.contextfree.extensions.shapeReplacement.SingleReplacementConfigNodeBuilderRuntime"/>
      <extensionConfigXMLImporter
            id="contextfree.shape.replacement.multi"
            name="LoopShape Replacement"
            runtimeClass="net.sf.jame.contextfree.extensions.shapeReplacement.MultiReplacementConfigXMLImporterRuntime"/>
      <extensionConfigXMLExporter
            id="contextfree.shape.replacement.multi"
            name="Multi Replacement"
            runtimeClass="net.sf.jame.contextfree.extensions.shapeReplacement.MultiReplacementConfigXMLExporterRuntime"/>
      <nodeBuilder
            id="contextfree.shape.replacement.multi"
            name="Multi Replacement"
            runtimeClass="net.sf.jame.contextfree.extensions.shapeReplacement.MultiReplacementConfigNodeBuilderRuntime"/>
   </extension>
   <extension
         id="contextfreeExtensions"
         name="ContextFree"
         point="net.sf.jame.contextfree.extensions">
      <pathAdjustment
            configClass="net.sf.jame.contextfree.extensions.pathAdjustment.HuePathAdjustmentConfig"
            id="contextfree.path.adjustment.hue"
            name="Hue Adjustment"
            runtimeClass="net.sf.jame.contextfree.extensions.pathAdjustment.HuePathAdjustmentRuntime"/>
      <pathReplacement
            configClass="net.sf.jame.contextfree.extensions.pathReplacement.LineToPathOperationConfig"
            id="contextfree.path.operation.lineto"
            name="LineTo Operation"
            runtimeClass="net.sf.jame.contextfree.extensions.pathReplacement.LineToPathOperationRuntime"/>
      <shapeAdjustment
            configClass="net.sf.jame.contextfree.extensions.shapeAdjustment.HueShapeAdjustmentConfig"
            id="contextfree.shape.adjustment.hue"
            name="Hue Adjustment"
            runtimeClass="net.sf.jame.contextfree.extensions.shapeAdjustment.HueShapeAdjustmentRuntime"/>
      <shapeReplacement
            configClass="net.sf.jame.contextfree.extensions.shapeReplacement.SingleReplacementConfig"
            id="contextfree.shape.replacement.single"
            name="Single Replacement"
            runtimeClass="net.sf.jame.contextfree.extensions.shapeReplacement.SingleReplacementRuntime"/>
      <shapeReplacement
            configClass="net.sf.jame.contextfree.extensions.shapeReplacement.MultiReplacementConfig"
            id="contextfree.shape.replacement.multi"
            name="Multi Replacement"
            runtimeClass="net.sf.jame.contextfree.extensions.shapeReplacement.MultiReplacementRuntime"/>
      <figure
            configClass="net.sf.jame.contextfree.extensions.figure.PathFigureConfig"
            id="contextfree.figure.path"
            name="Path Figure"
            runtimeClass="net.sf.jame.contextfree.extensions.figure.PathFigureRuntime"/>
      <figure
            configClass="net.sf.jame.contextfree.extensions.figure.RuleFigureConfig"
            id="contextfree.figure.rule"
            name="Rule Figure"
            runtimeClass="net.sf.jame.contextfree.extensions.figure.RuleFigureRuntime"/>
      <figure
            configClass="net.sf.jame.contextfree.extensions.figure.TriangleFigureConfig"
            id="contextfree.figure.triangle"
            name="Triangle Figure"
            runtimeClass="net.sf.jame.contextfree.extensions.figure.TriangleFigureRuntime"/>
      <figure
            configClass="net.sf.jame.contextfree.extensions.figure.SquareFigureConfig"
            id="contextfree.figure.square"
            name="Square Figure"
            runtimeClass="net.sf.jame.contextfree.extensions.figure.SquareFigureRuntime"/>
      <figure
            configClass="net.sf.jame.contextfree.extensions.figure.CircleFigureConfig"
            id="contextfree.figure.circle"
            name="Circle Figure"
            runtimeClass="net.sf.jame.contextfree.extensions.figure.CircleFigureRuntime"/>
   </extension>

</plugin>
