<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="devtoolsExtensions"
         name="ContextFree"
         point="net.sf.jame.devtools.extensions">
      <descriptor
            id="devtools.descriptor.fillRule"
            name="FillRule Descriptor"
            runtimeClass="net.sf.jame.devtools.contextfree.extensions.FillRuleDescriptorRuntime">
      </descriptor>
      <descriptor
            id="devtools.descriptor.strokeWidth"
            name="StrokeWidth Descriptor"
            runtimeClass="net.sf.jame.devtools.contextfree.extensions.StrokeWidthDescriptorRuntime">
      </descriptor>
      <descriptor
            id="devtools.descriptor.strokeJoin"
            name="StrokeJoin Descriptor"
            runtimeClass="net.sf.jame.devtools.contextfree.extensions.StrokeJoinDescriptorRuntime">
      </descriptor>
      <descriptor
            id="devtools.descriptor.strokeCap"
            name="StrokeCap Descriptor"
            runtimeClass="net.sf.jame.devtools.contextfree.extensions.StrokeCapDescriptorRuntime">
      </descriptor>
   </extension>

</plugin>
