<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="extensions" name="Core" schema="schema/extensions.exsd"/>
   <extension
         id="coreExtensions"
         name="Core"
         point="net.sf.jame.core.extensions">
      <enumerator
            id="type.class.Constructor"
            name="ConstructorEnumerator"
            runtimeClass="net.sf.jame.core.extensions.enumerator.ConstructorEnumeratorRuntime"/>
      <enumerator
            id="type.class.Enumerator"
            name="EnumeratorEnumerator"
            runtimeClass="net.sf.jame.core.extensions.enumerator.EnumeratorEnumeratorRuntime"/>
      <enumerator
            id="type.class.Creator"
            name="CreatorEnumerator"
            runtimeClass="net.sf.jame.core.extensions.enumerator.CreatorEnumeratorRuntime"/>
     <creator
            id="node.class.BooleanElement"
            name="BooleanCreator"
            runtimeClass="net.sf.jame.core.extensions.creator.BooleanCreatorRuntime"/>
      <creator
            id="node.class.ColorElement"
            name="ColorCreator"
            runtimeClass="net.sf.jame.core.extensions.creator.ColorCreatorRuntime"/>
      <creator
            id="node.class.DoubleElement"
            name="DoubleCreator"
            runtimeClass="net.sf.jame.core.extensions.creator.DoubleCreatorRuntime"/>
      <creator
            id="node.class.FloatElement"
            name="FloatCreator"
            runtimeClass="net.sf.jame.core.extensions.creator.FloatCreatorRuntime"/>
      <creator
            id="node.class.FontElement"
            name="FontCreator"
            runtimeClass="net.sf.jame.core.extensions.creator.FontCreatorRuntime"/>
      <creator
            id="node.class.IntegerElement"
            name="IntegerCreator"
            runtimeClass="net.sf.jame.core.extensions.creator.IntegerCreatorRuntime"/>
      <creator
            id="node.class.LongElement"
            name="LongCreator"
            runtimeClass="net.sf.jame.core.extensions.creator.LongCreatorRuntime"/>
      <creator
            id="node.class.ShortElement"
            name="ShortCreator"
            runtimeClass="net.sf.jame.core.extensions.creator.ShortCreatorRuntime"/>
      <creator
            id="node.class.StringElement"
            name="StringCreator"
            runtimeClass="net.sf.jame.core.extensions.creator.StringCreatorRuntime"/>
      <creator
            id="node.class.ComplexElement"
            name="ComplexCreator"
            runtimeClass="net.sf.jame.core.extensions.creator.ComplexCreatorRuntime"/>
      <creator
            id="node.class.RectangleElement"
            name="RectangleCreator"
            runtimeClass="net.sf.jame.core.extensions.creator.RectangleCreatorRuntime"/>
      <actionXMLImporter
            id="node.class.RectangleElement"
            name="RectangleElement"
            runtimeClass="net.sf.jame.core.extensions.action.RectangleNodeActionXMLImporterRuntime"/>
      <actionXMLImporter
            id="node.class.FontElement"
            name="FontElement"
            runtimeClass="net.sf.jame.core.extensions.action.FontNodeActionXMLImporterRuntime"/>
      <actionXMLImporter
            id="node.class.ColorElement"
            name="ColorElement"
            runtimeClass="net.sf.jame.core.extensions.action.ColorNodeActionXMLImporterRuntime"/>
      <actionXMLImporter
            id="node.class.StringElement"
            name="StringElement"
            runtimeClass="net.sf.jame.core.extensions.action.StringNodeActionXMLImporterRuntime"/>
      <actionXMLImporter
            id="node.class.FloatElement"
            name="FloatElement"
            runtimeClass="net.sf.jame.core.extensions.action.FloatNodeActionXMLImporterRuntime"/>
      <actionXMLImporter
            id="node.class.DoubleElement"
            name="DoubleElement"
            runtimeClass="net.sf.jame.core.extensions.action.DoubleNodeActionXMLImporterRuntime"/>
      <actionXMLImporter
            id="node.class.BooleanElement"
            name="BooleanElement"
            runtimeClass="net.sf.jame.core.extensions.action.BooleanNodeActionXMLImporterRuntime"/>
      <actionXMLImporter
            id="node.class.ComplexElement"
            name="ComplexElement"
            runtimeClass="net.sf.jame.core.extensions.action.ComplexNodeActionXMLImporterRuntime"/>
      <actionXMLExporter
            id="node.class.RectangleElement"
            name="RectangleElement"
            runtimeClass="net.sf.jame.core.extensions.action.RectangleNodeActionXMLExporterRuntime"/>
      <actionXMLExporter
            id="node.class.ColorElement"
            name="ColorElement"
            runtimeClass="net.sf.jame.core.extensions.action.ColorNodeActionXMLExporterRuntime"/>
      <actionXMLExporter
            id="node.class.FontElement"
            name="FontElement"
            runtimeClass="net.sf.jame.core.extensions.action.FontNodeActionXMLExporterRuntime"/>
      <actionXMLExporter
            id="node.class.StringElement"
            name="StringElement"
            runtimeClass="net.sf.jame.core.extensions.action.StringNodeActionXMLExporterRuntime"/>
      <actionXMLExporter
            id="node.class.FloatElement"
            name="FloatElement"
            runtimeClass="net.sf.jame.core.extensions.action.FloatNodeActionXMLExporterRuntime"/>
      <actionXMLExporter
            id="node.class.DoubleElement"
            name="DoubleElement"
            runtimeClass="net.sf.jame.core.extensions.action.DoubleNodeActionXMLExporterRuntime"/>
      <actionXMLExporter
            id="node.class.BooleanElement"
            name="BooleanElement"
            runtimeClass="net.sf.jame.core.extensions.action.BooleanNodeActionXMLExporterRuntime"/>
      <actionXMLExporter
            id="node.class.ComplexElement"
            name="ComplexElement"
            runtimeClass="net.sf.jame.core.extensions.action.ComplexNodeActionXMLExporterRuntime"/>
    </extension>

</plugin>
