<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         id="coreExtensions"
         name="Mandelbrot Swing"
         point="net.sf.jame.core.swing.extensions">
      <editor
            id="node.class.ModeElement"
            name="ModeElement"
            runtimeClass="net.sf.jame.mandelbrot.swing.extensions.editor.ModeElementEditorRuntime"/>
      <editor
            id="node.class.InputModeElement"
            name="InputModeElement"
            runtimeClass="net.sf.jame.mandelbrot.swing.extensions.editor.InputModeElementEditorRuntime"/>
      <editor
            id="node.class.IterationsElement"
            name="IterationsElement"
            runtimeClass="net.sf.jame.mandelbrot.swing.extensions.editor.IterationsElementEditorRuntime"/>
      <editor
            id="node.class.ThresholdElement"
            name="ThresholdElement"
            runtimeClass="net.sf.jame.mandelbrot.swing.extensions.editor.ThresholdElementEditorRuntime"/>
      <editor
            id="node.class.ExponentElement"
            name="ExponentElement"
            runtimeClass="net.sf.jame.mandelbrot.swing.extensions.editor.ExponentElementEditorRuntime"/>
      <editor
            id="node.class.OrbitTrapCriteriaElement"
            name="CriteriaElement"
            runtimeClass="net.sf.jame.mandelbrot.swing.extensions.editor.CriteriaElementEditorRuntime"/>
      <editor
            id="node.class.RenderedPaletteElement"
            name="RenderedPaletteElement"
            runtimeClass="net.sf.jame.mandelbrot.swing.extensions.editor.RenderedPaletteElementEditorRuntime"/>
      <editor
            id="node.class.RenderingFormulaElement"
            name="RenderingFormulaElement"
            runtimeClass="net.sf.jame.mandelbrot.swing.extensions.editor.RenderingFormulaElementEditorRuntime"/>
      <editor
            id="node.class.TransformingFormulaElement"
            name="TransformingFormulaElement"
            runtimeClass="net.sf.jame.mandelbrot.swing.extensions.editor.TransformingFormulaElementEditorRuntime"/>
      <editor
            id="node.class.IncolouringFormulaElement"
            name="IncolouringFormulaElement"
            runtimeClass="net.sf.jame.mandelbrot.swing.extensions.editor.IncolouringFormulaElementEditorRuntime"/>
      <editor
            id="node.class.OutcolouringFormulaElement"
            name="OutcolouringFormulaElement"
            runtimeClass="net.sf.jame.mandelbrot.swing.extensions.editor.OutcolouringFormulaElementEditorRuntime"/>
      <editor
            id="node.class.RenderingFormulaReference"
            name="RenderingFormulaReference"
            runtimeClass="net.sf.jame.mandelbrot.swing.extensions.editor.RenderingFormulaReferenceEditorRuntime"/>
      <editor
            id="node.class.TransformingFormulaReference"
            name="TransformingFormulaReference"
            runtimeClass="net.sf.jame.mandelbrot.swing.extensions.editor.TransformingFormulaReferenceEditorRuntime"/>
      <editor
            id="node.class.IncolouringFormulaReference"
            name="IncolouringFormulaReference"
            runtimeClass="net.sf.jame.mandelbrot.swing.extensions.editor.IncolouringFormulaReferenceEditorRuntime"/>
      <editor
            id="node.class.OutcolouringFormulaReference"
            name="OutcolouringFormulaReference"
            runtimeClass="net.sf.jame.mandelbrot.swing.extensions.editor.OutcolouringFormulaReferenceEditorRuntime"/>
      <editor
            id="node.class.IncolouringFormulaElementList"
            name="IncolouringFormulaElementList"
            runtimeClass="net.sf.jame.mandelbrot.swing.extensions.editor.IncolouringFormulaElementListEditorRuntime"/>
      <editor
            id="node.class.OutcolouringFormulaElementList"
            name="OutcolouringFormulaElementList"
            runtimeClass="net.sf.jame.mandelbrot.swing.extensions.editor.OutcolouringFormulaElementListEditorRuntime"/>
      <editor
            id="node.class.PaletteRendererElement"
            name="PaletteRendererElement"
            runtimeClass="net.sf.jame.mandelbrot.swing.extensions.editor.PaletteRendererElementEditorRuntime"/>
      <editor
            id="node.class.ColorRendererElement"
            name="ColorRendererElement"
            runtimeClass="net.sf.jame.mandelbrot.swing.extensions.editor.ColorRendererElementEditorRuntime"/>
      <editor
            id="node.class.PaletteRendererFormulaElement"
            name="PaletteRendererFormulaElement"
            runtimeClass="net.sf.jame.mandelbrot.swing.extensions.editor.PaletteRendererFormulaElementEditorRuntime"/>
      <editor
            id="node.class.ColorRendererFormulaElement"
            name="ColorRendererFormulaElement"
            runtimeClass="net.sf.jame.mandelbrot.swing.extensions.editor.ColorRendererFormulaElementEditorRuntime"/>
      <editor
            id="node.class.PaletteRendererReference"
            name="PaletteRendererReference"
            runtimeClass="net.sf.jame.mandelbrot.swing.extensions.editor.PaletteRendererReferenceEditorRuntime"/>
      <editor
            id="node.class.ColorRendererReference"
            name="ColorRendererReference"
            runtimeClass="net.sf.jame.mandelbrot.swing.extensions.editor.ColorRendererReferenceEditorRuntime"/>
      <editor
            id="node.class.PaletteRendererFormulaReference"
            name="PaletteRendererFormulaReference"
            runtimeClass="net.sf.jame.mandelbrot.swing.extensions.editor.PaletteRendererFormulaReferenceEditorRuntime"/>
      <editor
            id="node.class.ColorRendererFormulaReference"
            name="ColorRendererFormulaReference"
            runtimeClass="net.sf.jame.mandelbrot.swing.extensions.editor.ColorRendererFormulaReferenceEditorRuntime"/>
      <editor
            id="node.class.ProcessingFormulaReference"
            name="ProcessingFormulaReference"
            runtimeClass="net.sf.jame.mandelbrot.swing.extensions.editor.ProcessingFormulaReferenceEditorRuntime"/>
      <editor
            id="node.class.OrbitTrapReference"
            name="OrbitTrapReference"
            runtimeClass="net.sf.jame.mandelbrot.swing.extensions.editor.OrbitTrapReferenceEditorRuntime"/>
   </extension>
   <extension
         id="twisterExtensions"
         name="Mandelbrot Swing"
         point="net.sf.jame.twister.swing.extensions">
      <inputAdapter
            id="twister.frame.layer.image.mandelbrot"
            name="MandelbrotInputAdapter"
            runtimeClass="net.sf.jame.mandelbrot.swing.extensions.adapter.MandelbrotInputAdapterRuntime"/>
      <view
            id="twister.frame.layer.image.mandelbrot"
            name="MandelbrotImageConfigView"
            runtimeClass="net.sf.jame.mandelbrot.swing.extensions.view.MandelbrotImageConfigViewRuntime"/>
   </extension>

</plugin>
