<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         id="coreExtensions"
         name="ContextFree Swing"
         point="net.sf.jame.core.swing.extensions">
      <editor
            id="node.class.CFDGElement"
            name="CFDGElement"
            runtimeClass="net.sf.jame.contextfree.swing.extensions.editor.CFDGEditorRuntime"/>
      <editor
            id="node.class.FigureReference"
            name="FigureReference"
            runtimeClass="net.sf.jame.contextfree.swing.extensions.editor.FigureReferenceEditorRuntime"/>
      <editor
            id="node.class.FigureElement"
            name="FigureElement"
            runtimeClass="net.sf.jame.contextfree.swing.extensions.editor.FigureReferenceElementEditorRuntime"/>
      <editor
            id="node.class.FigureListElement"
            name="FigureListElement"
            runtimeClass="net.sf.jame.contextfree.swing.extensions.editor.FigureReferenceElementListEditorRuntime"/>
      <editor
            id="node.class.PathAdjustmentReference"
            name="PathAdjustmentReference"
            runtimeClass="net.sf.jame.contextfree.swing.extensions.editor.PathAdjustmentReferenceEditorRuntime"/>
      <editor
            id="node.class.PathAdjustmentElement"
            name="PathAdjustmentElement"
            runtimeClass="net.sf.jame.contextfree.swing.extensions.editor.PathAdjustmentReferenceElementEditorRuntime"/>
      <editor
            id="node.class.PathAdjustmentListElement"
            name="PathAdjustmentListElement"
            runtimeClass="net.sf.jame.contextfree.swing.extensions.editor.PathAdjustmentReferenceElementListEditorRuntime"/>
      <editor
            id="node.class.PathReplacementReference"
            name="PathReplacementReference"
            runtimeClass="net.sf.jame.contextfree.swing.extensions.editor.PathReplacementReferenceEditorRuntime"/>
      <editor
            id="node.class.PathReplacementElement"
            name="PathReplacementElement"
            runtimeClass="net.sf.jame.contextfree.swing.extensions.editor.PathReplacementReferenceElementEditorRuntime"/>
      <editor
            id="node.class.PathReplacementListElement"
            name="PathReplacementListElement"
            runtimeClass="net.sf.jame.contextfree.swing.extensions.editor.PathReplacementReferenceElementListEditorRuntime"/>
      <editor
            id="node.class.ShapeAdjustmentReference"
            name="ShapeAdjustmentReference"
            runtimeClass="net.sf.jame.contextfree.swing.extensions.editor.ShapeAdjustmentReferenceEditorRuntime"/>
      <editor
            id="node.class.ShapeAdjustmentElement"
            name="ShapeAdjustmentElement"
            runtimeClass="net.sf.jame.contextfree.swing.extensions.editor.ShapeAdjustmentReferenceElementEditorRuntime"/>
      <editor
            id="node.class.ShapeAdjustmentListElement"
            name="ShapeAdjustmentListElement"
            runtimeClass="net.sf.jame.contextfree.swing.extensions.editor.ShapeAdjustmentReferenceElementListEditorRuntime"/>
      <editor
            id="node.class.ShapeReplacementReference"
            name="ShapeReplacementReference"
            runtimeClass="net.sf.jame.contextfree.swing.extensions.editor.ShapeReplacementReferenceEditorRuntime"/>
      <editor
            id="node.class.ShapeReplacementElement"
            name="ShapeReplacementElement"
            runtimeClass="net.sf.jame.contextfree.swing.extensions.editor.ShapeReplacementReferenceElementEditorRuntime"/>
      <editor
            id="node.class.ShapeReplacementListElement"
            name="ShapeReplacementListElement"
            runtimeClass="net.sf.jame.contextfree.swing.extensions.editor.ShapeReplacementReferenceElementListEditorRuntime"/>
   </extension>
   <extension
         id="twisterExtensions"
         name="ContextFree Swing"
         point="net.sf.jame.twister.swing.extensions">
      <inputAdapter
            id="twister.frame.layer.image.contextfree"
            name="ContextFreeInputAdapter"
            runtimeClass="net.sf.jame.contextfree.swing.extensions.adapter.ContextFreeInputAdapterRuntime"/>
      <view
            id="twister.frame.layer.image.contextfree"
            name="ContextFreeImageConfigView"
            runtimeClass="net.sf.jame.contextfree.swing.extensions.view.ContextFreeImageConfigViewRuntime"/>
   </extension>

</plugin>
