<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="serviceExtensions"
         name="Service"
         point="net.sf.jame.service.extensions">
      <encoder
            configClass="net.sf.jame.service.encoder.extensions.PNGEncoderConfig"
            id="service.encoder.png"
            name="PNG"
            runtimeClass="net.sf.jame.service.encoder.extensions.PNGEncoderRuntime"/>
      <encoder
            configClass="net.sf.jame.service.encoder.extensions.BMPEncoderConfig"
            id="service.encoder.bmp"
            name="BMP"
            runtimeClass="net.sf.jame.service.encoder.extensions.BMPEncoderRuntime"/>
      <encoder
            configClass="net.sf.jame.service.encoder.extensions.JPEGEncoderConfig"
            id="service.encoder.jpeg"
            name="JPEG"
            runtimeClass="net.sf.jame.service.encoder.extensions.JPEGEncoderRuntime"/>
      <!--<encoder
            configClass="net.sf.jame.service.encoder.extensions.JK2EncoderConfig"
            id="service.encoder.jk2"
            name="JK2"
            runtimeClass="net.sf.jame.service.encoder.extensions.JK2EncoderRuntime"/>-->
      <encoder
            configClass="net.sf.jame.service.encoder.extensions.TIFFEncoderConfig"
            id="service.encoder.tiff"
            name="TIFF"
            runtimeClass="net.sf.jame.service.encoder.extensions.TIFFEncoderRuntime"/>
      <encoder
            configClass="net.sf.jame.service.encoder.extensions.TARGAEncoderConfig"
            id="service.encoder.targa"
            name="TARGA"
            runtimeClass="net.sf.jame.service.encoder.extensions.TARGAEncoderRuntime"/>
      <encoder
            configClass="net.sf.jame.service.encoder.extensions.MOVEncoderConfig"
            id="service.encoder.mov"
            name="MOV"
            runtimeClass="net.sf.jame.service.encoder.extensions.MOVEncoderRuntime"/>
      <encoder
            configClass="net.sf.jame.service.encoder.extensions.AVIEncoderConfig"
            id="service.encoder.avi"
            name="AVI"
            runtimeClass="net.sf.jame.service.encoder.extensions.AVIEncoderRuntime"/>
      <encoder
            configClass="net.sf.jame.service.encoder.extensions.MPEGEncoderConfig"
            id="service.encoder.mpeg"
            name="MPEG"
            runtimeClass="net.sf.jame.service.encoder.extensions.MPEGEncoderRuntime"/>
      <encoder
            configClass="net.sf.jame.service.encoder.extensions.MPEG4EncoderConfig"
            id="service.encoder.mpeg4"
            name="MPEG4"
            runtimeClass="net.sf.jame.service.encoder.extensions.MPEG4EncoderRuntime"/>
   </extension>

</plugin>
